*{
  font-family: Arial;
}


#title{
  position: relative;
  left: 45%;
}

#MainBox
{
  margin-left: auto;
  margin-right: auto;
  /*width: 1050px;*/
  width: 1250px;
  background: transparent;  /*ddd #528B8B; */
  /*border: 2px; 
  border-style: solid;
  border-color: 66d; /* 0a0; */
  padding: 0px 0px 0px 0px;
  clear: both;
}

#VisHolder
{ 
  width: 800px;
  float: left;
  border: 1px;
  border-style: solid;
  border-color: #ccc;
  background-color: #eef;
}

.OptionsHolder
{ 
  float: left;
  border: 0px;
  border-top: 0px;
  border-top-style: solid;
}

.SingleOption
{ 
  width: 198px;
  float: left;
}

.InfoBox
{
  float: left;
  border: 0px;
  border-top: 1px;
  border-top-style: solid;
  margin-top: 20px;
  padding-top: 4px;
  overflow: auto;
  width: 200px;
}

.RightOpts /*Sriram: added this to edit right info options*/
{
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.InfoBoxContainer
{
  padding-top: 0px;
  border-top: 0px;
}

.TopInfoBox
{ 
  margin-top: 0px;
}

.RightOpts
{
  margin-left: 10px;
  height: 385px;
}

.LeftOpts
{
  margin-right: 10px;
  height: 900px;
}

.SmallLeftOpt
{
  overflow: hidden;
  margin-right: 10px;
  height: 20px;
}

.BottomOpts
{
  /* margin-left: 210px; */
  margin-top: 20px;
  /*width: 800px*/
}

#VisHolder /*Sriram: Added this to have border for main vis holder;*/
{
  padding: 2px;
  border: 2px solid #000000;
  background: #f2f2f2;
}

.opt /*Sriram: Adds additional padding to the individual options */
{
  padding-left:5px; 
}

#LeftOptPanel/*Sriram: Adds additional padding to the left panel*/
{
  padding-bottom: 2px;
}




